config ZMK_BLE
	default y

config ZMK_USB
	default y


if SHIELD_ZEHN_LEFT

config ZMK_KEYBOARD_NAME
	default "_zehn_l"

config ZMK_SPLIT
	default y


endif # SHIELD_ZEHN_LEFT


if SHIELD_ZEHN_RIGHT

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_KEYBOARD_NAME
	default "_zehn"

config ZMK_SPLIT
	default y

endif # SHIELD_ZEHN_RIGHT
