config ZMK_BLE
	default y


if SHIELD_ZEHN_RIGHT

config ZMK_KEYBOARD_NAME
	default "_zehn"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif # SHIELD_ZEHN_RIGHT


if SHIELD_ZEHN_LEFT || SHIELD_ZEHN_RIGHT

config ZMK_SPLIT
	default y

endif # SHIELD_ZEHN_LEFT || SHIELD_ZEHN_RIGHT
